
* { margin: 0; padding: 0; }
body { margin: 0; 
  overflow-x: hidden;
}
 

.bg {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0 auto;
}
.title {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  font-family: 'PT Sans', sans-serif;
    font-size: 120px;
    font-weight: 700;
  color: rgb(255, 255, 255);
}




.container_block {
  width: 1744px;
  height: 724px;
  border-radius: 40px;
  background-color: #ACACAC;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);


}
.qr_block {
  width: 625px;
  height: 724px;
  border-radius: 32px;
  background-color: #EBEBEB;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  margin-left: -66px;
}
.color_block {
  width: 420px;
  height: 172px;
  border-radius: 32px;
  background-color: #EBEBEB;
  position: absolute;
  top: 120px;
  text-align: center;
  margin-left: 40px;
}
.color_block_2 {
    width: 420px;
  height: 172px;
  border-radius: 32px;
  background-color: #EBEBEB;
  position: absolute;
  top: 120px;
  text-align: center;
  margin-left: 40px;
  left: 580px;

}
.name_color_block{
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #121212;
  position: absolute;
  top: 20px;
  text-align: center;
}
.name_color_block_2{
  left: 591px;
  font-family: 'PT Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #121212;
  position: absolute;
  top: 20px;
  text-align: center;

}
.mini_name_color_block {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #AAAAAA;
  position: absolute;
  top: 15px;
  text-align: center;
}
.mini_name_color_block_2 {
    font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #AAAAAA;
  position: absolute;
  top: 15px;
  text-align: center;

}
.form_block_1 {
  margin-left: 40px;
}
.mini_color{
  width: 360px;
  height: 43px;
  background-color: #8D8D8D;
  position: absolute;
  top: 103px;
  left: 50%;
  transform: translateX(-50%);

}
.mini_color_2 {
    width: 360px;
  height: 44px;
  background-color: #8D8D8D;
  position: absolute;
  top: 103px;
  left: 50%;
  transform: translateX(-50%);

}
#colorBox1, #colorBox2 {
      width: 25px;
      height: 25px;
      border: 1px solid #000;
      margin-top: 8px;
      margin-left: 8px;
      
}
#colorInput, #urlInput_2, #backgroundInput, #foregroundInput {
    all: unset;   /* убирает ВСЕ стандартные стили браузера */

  position: absolute;
      width: 300px;
      height: 27px;
      margin-top: 8px;
      top: 0px;
      left: 10%;
      background-color: #8D8D8D;
      font-size: 16px;
      text-align: center;
}


.form_block_3 {
  position: absolute;
  width: 889px;
  height: 229px;
  left: 132px;
  top: 291px;
}
.button_foto {
  all: unset;
  width: 570px;
  height: 165px;
  border-radius: 30px;
  background-color: #EBEBEB;

  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-align: center;
  font-size: 100px;
  color: #000000;
  position: absolute;

  left: 160.5px;  
  top: 60px;
}
.Name_boton {
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;

  width:  889px;
  height: 64px;

  position: absolute;
  top: 0px;

  text-align: center;


  color: #272727;
}
.URL{
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #272727;
  text-align: center;
  position: absolute;
  width:  600px;
  top: 549px;
  left: 80px;
}
.input_url {
  all: unset;
  background-color: #EBEBEB;
  width: 600px;
  height: 64px;
  position: absolute;
  top: 617px;
  left: 80px;
padding-left: 20px; /* отступ текста от начала */
}




/* сам квадратик */
.shadowToggle, .shadowColor {
    all: unset;
    width: 60px;
    height: 60px;
      position: absolute;
  top: 617px;
  left: 750px;
    background: #f2f2f2;
    border: 2px solid #222;

    border-radius: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: background 0.2s, box-shadow 0.2s;
}

/* красивый hover */
.shadowToggle:hover {
    background: #e6e6e6;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* крестик */
.shadowToggle::after {
    content: "✕";
    position: absolute;
    top: 8%;
    left: 28%;
    transform: translate(50%, 50%) scale(0.5);
    font-size: 36px;
    color: #222;
    opacity: 0;
    transition: opacity 0.15s, transform 0.15s;
}

/* когда включён */
.shadowToggle:checked::after {
    opacity: 1;
    transform: scale(1);
}

.sha, .mini_name_color_block_3{
  width: 300px;
  height: 60px;
  position: absolute;
  top: 560px;
  left: 690px;
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #272727;
}
.mini_name_color_block_3{
  left: 920px;


}
.shadowColor{
  border-radius: 0px;
  left: 950px;
}




.button_down {
  all: unset;
  width: 434px;
  height: 119px;
  border-radius: 10px;
  background-color: #008ECA;

  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;

  text-align: center;
  color: #202020;
  position: absolute;

  left: 1222px;  
  top: 590px;
}
.button_generate {
  all: unset;
  width: 434px;
  height: 119px;
  border-radius: 10px;
  background-color: #00CA00;

  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
  font-weight: 600;

  text-align: center;
  color: #202020;
  position: absolute;

  left: 1222px;  
  top: 460px;
}


.message {
    margin-top: 0px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    display: none;
    font-weight: 500;
}
.message.error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.QR_codee {
  position: absolute;
  width: 400px; 
  height: 400px;
  top: 230px;
  border: 3px solid #000000;
  left: 51%;
  transform: translate(-50%, -50%);
}